### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [123]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [124]:
# create a dataframe
purchase_df = pd.DataFrame(purchase_data, columns=['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'])

# player count
total_players_count = (purchase_df['SN'].nunique())
total_players_df = pd.DataFrame([total_players_count], columns=['Total Players'])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [125]:
unique_items_total = purchase_df['Item ID'].nunique()

average_price = purchase_df['Price'].mean()
average_price_format = f'${average_price:.2f}'

number_of_purchases = purchase_df['Purchase ID'].count()

total_revenue = purchase_df['Price'].sum()
total_revenue_format = f'${total_revenue:,.2f}'

summary_df = pd.DataFrame([(unique_items_total, average_price_format, number_of_purchases, total_revenue_format)], columns=['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [126]:
gender_groups = purchase_df.groupby(['Gender'])
gender_df = gender_groups['SN'].nunique()

summary_df = pd.DataFrame({'Total Count':gender_df})

percent = ((gender_df / gender_df.sum()) * 100)

summary_df['Percentage of Players'] = percent


summary_df = summary_df.sort_values(by=['Total Count'], ascending = False)
summary_df = summary_df.style.format({'Percentage of Players': '{:.2f}'})
summary_df.index.name = None
summary_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [127]:
total_count_gender = gender_groups.nunique()["SN"]

purchase_count = gender_groups["Purchase ID"].count()

avg_purchase_price = gender_groups["Price"].mean()

avg_purchase_total = gender_groups["Price"].sum()

avg_purchase_per_person = avg_purchase_total/total_count_gender

gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value":avg_purchase_total, "Avg Total Purchase per Person": avg_purchase_per_person})

gender_demographics.index.name = "Gender"

gender_demographics.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [128]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
age_grouped = purchase_data.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()
percentage_by_age = (total_count_age/total_players_count) * 100

age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})


age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [131]:
age_demographics_alt = pd.DataFrame(age_demographics)

purchase_count_age = age_grouped["Purchase ID"].count()

avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()
avg_purchase_per_person_age = total_purchase_value/total_count_age
age_demographics_alt = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": avg_purchase_price_age, "Total Purchase Value":total_purchase_value, "Avg Total Purchase per Person": avg_purchase_per_person_age})

age_demographics_alt.index.name = None

age_demographics_alt.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

In [132]:
#age_demographics_alt = pd.DataFrame(age_demographics)

#purchase_count_age = age_grouped["Purchase ID"].count()

#avg_purchase_price_age = age_grouped["Price"].mean()
#total_purchase_value = age_grouped["Price"].sum()
#avg_purchase_per_person_age = total_purchase_value/total_count_age
#age_demographics_alt = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": avg_purchase_price_age, "Total Purchase Value":total_purchase_value, "Avg Total Purchase per Person": avg_purchase_per_person_age})

#age_demographics_alt.index.name = None

#age_demographics_alt.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [133]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
total_purchase_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender, "Average Purchase Price": avg_purchase_price_spender, "Total Purchase Value":total_purchase_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [134]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, "Item Price": item_price, "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [135]:
# Sort the above table by total purchase value in descending order
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})